<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.xxmmk.skdmobile" >

    <application
        android:name=".MobileSKDApp"
        android:allowBackup="true"
        android:icon="@drawable/skd_ico"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".ScanActivity"
            android:label="@string/ScanTxt" >
        </activity>
        <activity
            android:name=".activity_scan_off"
            android:label="Сканирование офлайн" >
        </activity>
        <activity
            android:name=".OperLogin"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".ErrorLogin"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".AccLogin"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".SetKPPAct"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".ErrorScan"
            android:label="Ошибка сканирования" >
        </activity>
        <activity
            android:name=".Map"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".MapSecCab"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".MyActivity" >
        </activity>
        <activity
            android:name=".SecCab"
            android:label="@string/title_activity_sec_cab" >
        </activity>
        <activity
            android:name=".LastKpp"
            android:label="Последние КПП" >
        </activity>
        <activity
            android:name=".MatIt"
            android:label="Мат. ценности" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ListKpp"
            android:label="@string/title_activity_list_kpp" >
        </activity>
        <activity
            android:name=".CargoA"
            android:label="@string/title_activity_cargo" >
        </activity>
        <activity
            android:name=".ScanActAll"
            android:label="@string/title_activity_scan_act_all" >
        </activity>
        <activity
            android:name=".SecCabAll"
            android:label="@string/title_activity_sec_cab_all" >
        </activity>
        <activity
            android:name=".ScanBarCode"
            android:label="@string/title_activity_scan_bar_code" >
        </activity>
        <activity
            android:name=".BarCodeRes"
            android:label="@string/title_activity_bar_code_res" >
        </activity>
        <activity
            android:name=".NetError"
            android:label="@string/title_activity_net_error"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>
